---
import Layout from "../layouts/Layout.astro";
import "../../style/sass/globals.scss";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="pokedex__item">
      <h1>FAQ</h1>
    </section>
  </main>
</Layout>
